#logo {
    font-size: 50pt;
    text-align: left;
    font-family: sans-serif;
    color: White
}

body {
    background-color: #ccc;
}

.top {
    float: left;
    background-color: #fff;
    width: 20%;
    height: 40px;
    text-align: center;
    font-size: 20pt;
    font-family: verdana, sans-serif;
    color: #ccc
}

#top1 {
    margin-left: 0;
}

.middle {

}

#content {
    width: 97%
}

#right1 {
    transform: rotate(90deg);
    width: 100px;
    height: 9.5%;
    text-align: center;
    font-family: verdana, sans-serif;
    font-size: 17pt;
    color: #bbb;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 130px;
}

#right2 {
    text-align: center;
    font-family: verdana, sans-serif;
    font-size: 17pt;
    color: #fff;
    transform: rotate(90deg);
    width: 100px;
    height: 9.5%;
    background-color: #bbb;
    position: absolute;
    right: 0;
    top: 230px;

}

#right3 {
    text-align: center;
    font-family: verdana, sans-serif;
    font-size: 17pt;
    color: #ddd;
    transform: rotate(90deg);
    width: 100px;
    height: 9.5%;
    background-color: #888;
    position: absolute;
    right: 0;
    top: 330px;

}

#footer {
    text-align: center;
    font-size: 20pt;
    font-family: verdana, sans-serif;
    color: #ccc;
    position: absolute;
    background-color: White;
    height: 100px;
    width: 100%;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline;
    margin: 0 5px 5px 0;
    vertical-align: top
}